input{
    background-color: #ef9cd4;
    border: none;
    color: azure;
    outline: none;
    font-size: 2.5rem;
} 
button{
    height: 3rem;
    width: 6rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgb(147, 107, 132);
    color: azure;
    border: none;
    outline: none;
    margin-left: 10px;
}